<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>Habbit Planner</title>
		<style>[ng-cloak] { display: none; }</style>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/all.min.css">
		<script src="js/all.js"></script>
        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="js/ui-bootstrap-custom-2.5.0-csp.css">
        <script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/angular/angular.js"></script>
        <script src="js/ui-bootstrap-custom-2.5.0.min.js"></script>
        <script src="js/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
		<script src="js/today_app.js"></script>

        <script src="js/nebPay.js"></script>
        <script src="js/dailyHabitsContractApi.js"></script>

		<script src="js/controllers/todoCtrl.js"></script>
		<script src="js/directives/todoFocus.js"></script>
		<script src="js/directives/todoEscape.js"></script>

		<script src="js/services/blockChainService.js"></script>
        -->
        
        <style>
            .blockhain_pending{
                    width: 40px;
                    text-align: center;
                    position: absolute;
                    top: 16px;
            }
        </style>

	</head>
	<body ng-app="calendar_tasks" style="max-width:100%" ng-controller='TodoCtrl as ctrl' ng-init='ctrl.init()'>

      <script type="text/ng-template" id="myPopoverTemplate">
           <div>
            <ul><li ng-repeat="todo in ctrl.defaults">{{todo.text}}</li></ul>
            <button class="btn btn-default" ng-click="ctrl.initTasks()" >Populate this list?</button>
          </div>
        </script>

        <div ng-if="ctrl.installWallet" ng-cloak class="alert alert-warning" >
            <h1>Please install <a href="https://chrome.google.com/webstore/detail/nasextwallet/gehjkhmhclgnkkhpfamakecfgakkfkco">Web Wallet</a> as extension in order to use Daily Habbits.</h1>
        </div>
        <!--
            <h2> And allow access to files urls </h2>
            <img src="https://raw.githubusercontent.com/nebulasio/WebExtensionWallet/master/resources/extension_options.png" />
        -->

        <div ng-if="!ctrl.installWallet" class="col-sm-3" style="display:inline-block;min-height:290px; min-width:290px; margin-top:130px;">
            <div uib-datepicker ng-model="ctrl.currentDate" ng-change="ctrl.onDateChange()" class="well well-sm" datepicker-options="options"></div>
        </div>

        <div ng-if="!ctrl.installWallet" class="col-sm-8">
			<section class="todoapp">
				<header class="header">
                    <h1>Daily Habbits {{ctrl.currentDate|date:'dd.MM.yy'}}</h1>
					<form class="todo-form" ng-submit="ctrl.addTask()">
						<input class="new-todo" placeholder="What needs to be done?" ng-model="ctrl.newTask" ng-disabled="saving" autofocus>
					</form>

				</header>


				<section class="main" ng-show="ctrl.todos.length" ng-cloak>
					<ul class="todo-list">
						<li ng-repeat="todo in ctrl.todos  track by $index" ng-class="{completed: todo.completed, editing: todo == ctrl.editedTodo}">
							<div class="view">
								<input class="toggle" ng-if="todo.id" type="checkbox" ng-model="todo.completed" ng-change="ctrl.toggleCompleted(todo)">
                                <i ng-if="!todo.id" class="blockhain_pending glyphicon glyphicon-cloud-upload"  title="Saving to blockchain, tx:{{todo.hash}}"></i>
								<label ng-dblclick="ctrl.editTask(todo)">{{todo.text}}</label>
								<button ng-if="todo.id" class="destroy" ng-click="ctrl.removeTask(todo)"></button>
							</div>
							<form ng-submit="saveEdits(todo, 'submit')">
								<input class="edit" ng-trim="false" ng-model="todo.text" todo-escape="ctrl.revertEdits(todo)" ng-blur="ctrl.saveEdits(todo, 'blur')" todo-focus="todo == ctrl.editedTodo">
							</form>
						</li>
					</ul>
				</section>

                <footer ng-show="ctrl.empty"  ng-cloak>
                    You have a list added before.
                    <a popover-placement="bottom" tabindex="0" popover-trigger="focus" uib-popover-template="'myPopoverTemplate'" popover-title="Previous tasks" type="button" class="btn btn-default">Check it out</a>
                </footer>

			</section>
		<!--/script-->
        </div>
	</body>
</html>
